/*GENERAL STYLING*/

* {
	box-sizing: border-box;
}

.body {
	padding: 0px;
	font-family: Helvetica, sans serif;
}

.header {
	margin-top: 37px;
	text-align: center;
	font-size: 175%;
	font-style: bold;
}

.maincardarea {
	width: 100%;
	margin: 0px;
	padding: 0px;
	}

.foodlabel {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 125%;
	padding: 5px 50px 5px 50px;
	border: 1px solid black;
	}

.dummytext {
	margin-top: 25px;
}

#chicken {
	background-color: blue;
	color: white;
}

#beef {
	background-color: green;
	color: black;
}

#fish {
	background-color: yellow;
	color: black;
}


/*RESPONSIVE DESIGN*/

/*SMALL DEVICES*/
@media (max-width: 767px) {

	.col-sm-12 {
		position: relative;
		width: 90%;
		padding: 15px;
		margin: 5%;
		border: 1px solid black;
		background-color: lightgray;

	}

}

/*MEDIUM DEVICES*/
@media (min-width: 768px) and (max-width: 991px) {

	.col-md-6 {
		position: relative;
		float: left;
		width:  42%;
		margin-top: 37.2px;
		margin-left: 5%;
		padding: 15px;	
		border: 1px solid black;
		background-color: lightgray;
	}

	.col-md-12 {
		position: relative;
		float: left;
		width: 90%;
		padding: 15px;
		margin:  5%;
		border: 1px solid black;
		background-color: lightgray;
	}

}

/*LARGE DEVICES*/
@media (min-width: 992px) {

	.col-lg-4 {
		position: relative;
		float: left;
		padding: 15px;
		width: 26.5%;
		margin-left: 5%;
		margin-top: 37.2px;
		border: 1px solid black;
		background-color: lightgray;
	}

}